
/todos.solution/.vs
/todos.solution/bin
/todos.solution/logs
/todos.solution/obj
/todos.solution/todos.api/bin
/todos.solution/todos.api/obj
/todos.solution/todos.service/bin
/todos.solution/todos.service/obj
